/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Topbar{
       background-color: #009688;
}
.Name{
       color:#009688; 
       background-color:#FFF6E0;
       
}
nav{
       background-color: #FFF6E0;
} */
/* Reset */
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box;*/
} 
html{
  height: 100%;
}
body {
  min-height: 100vh;
  background-image: linear-gradient(rgba(206, 51, 51, 0.447),rgba(46, 46, 136, 0.37)),
  url("https://images.unsplash.com/photo-1759327847036-22d9bad214bf?q=80&w=1228&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: top;  
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* body {
  background-color: #fffaf0;
  font-family: Arial, sans-serif;
} */

header {
  /* background-color: teal; */
  font-size: 30px;
  color: white;
  padding: 20px;
  text-align: center;
}
h1{
  display: inline-block;
  height: auto;width: auto;
  padding: 0px;
  margin-bottom: 20px;
  box-shadow: 0px 10px 8px #ec864fd3;
  text-shadow:2px 2px 4px rgba(0, 0, 0, 0.6) ;
}
.Subtitle{
  /* display: inline-block; */
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: white;
  text-shadow:2px 2px 4px rgba(0, 0, 0, 0.6);
}
.subtitle-text{
  display: inline-block;
  box-shadow: 0px 10px 8px #ec864fd3;
}
/* header{
  /* padding-left: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 0px; */
  /* border: 2px black double; */
  /* margin-left: 0px; */
  /* margin-right: 10px; 
} */

nav {
  padding: 10px;
  text-align: center;
}

nav h3 {
  display: flex;
  flex-direction: row;
 justify-content: center;
  gap: 40px;
}

nav a {
  font-size: 25px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

nav a:hover {
  text-decoration: underline;
}
.Quote  {
  text-align: left;
  font-style: italic;
  color: #dde4df;
  font-size: 18px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  margin-top: 90px;
  /* margin-bottom: 20px;
  margin-right: 50px;
  padding-right: 100px; */
  position: relative;
  left: -5%;
  top: 25px;
}
.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
}
.image{
  margin-right: 2%;
  margin-top: 1%;
}